.user-component {
  justify-content: space-between;
  margin-bottom: 15px;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 60px;
  height: 60px;
  border-radius: 23px;
  margin-right: 20px;
}
.user-component__title {
  font-weight: 600;
  font-size: 19px;
}
.user-component__subtitle {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}
.user-component__avatar--xs {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

.user-component__title--not-bold {
  font-weight: 400;
}
.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-component__time {
  display: block;
  margin-bottom: 10px; /* time이 span,
  즉 inline이라서 margin-top,bottom이 적용이 안된다.
   그래서 display:block 해줘야함.*/
}
.user-component__text-f {
  font-size: 14px;
  font-weight: 600;
}
.user-component__text .mini-font1 {
  display: flex;
  padding: 4px;
  background-color: white;
  width: 3px;
  height: 3px;
  font-size: 8px;
  border-radius: 50%;
  margin-left: 3px;
  border: 1px solid orangered;
  position: relative;
}
.user-component__text .mini-font1 span {
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 1.3px;
  font-weight: 600;
  color: orangered;
}
.user-component__text h6 {
  display: flex;
}
